@media (max-width: 1300px) {
  #team-carousel :is(.owl-prev, .owl-next) {
    display: none;
  }
}
@media (max-width: 1210px) {
  .flayer__wrapper{
   flex-wrap: wrap;
   @include center;
    gap: 30px;
  }
}
// responsive
@media (max-width: 1125px) {
  #team-carousel :is(.owl-prev, .owl-next) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header__row {
     @include center;
    flex-direction: column;
    gap: 50px;
  }
  .header__img {
    width: 100%;
  }

  .footer__info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 1130px) {
  .header__info {
    flex-direction: column;
    @include center;
    gap: 30px;
  }
  .header__buttons {
   @include center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .header__img {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .nav__list,
  .nav__btn {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer__info {
    flex-direction: column;
     @include center;
    text-align: center;
  }
  .bottom__card{
    flex-wrap: wrap;
   @include center;
  }
}
@media (max-width: 600px) {
  .help__img {
    width: 100%;
  }
  .help__input,
  .help__area {
    width: 100%;
  }
  .help__inputs {
    gap: 20px;
  }
  .bottom__card{
    flex-wrap: wrap;
   @include center;
  }
  .form__input,
  .textarea{
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 450px) {
  .nav__img {
    max-width: 150px;
  }
  .help__cheked {
    gap: 0px;
  }
  .bottom__card{
    flex-wrap: wrap;
   @include center;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 940px) {
  .open {
    display: flex;
    font-size: 25px;
    color: #000;
  }
  .nav__list {
    display: none;
  }
}
@media (max-width: 660px) {
  .nav__right {
    display: none;
  }
}
@media (max-width: 600px) {
 
  .team__title {
    display: none;
  }
  .team__text {
    text-align: center;
  }
}
@media (max-width: 560px) {

}
@media (max-width: 412px) {
  .header__buttons {
    flex-direction: column;
   @include center;
    gap: 40px;
  }

}
@media (max-width: 330px) {
  .nav__info {
    flex-direction: column;
   @include center;
  }
}
// responsive end